.caret,.caretReverse  {
display: inline-block;
width: 0;
height: 0;
//margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
margin:10px 5px;
}
.caret{
content: "";
border-top: 0;
border-bottom: 4px solid;
} 
table thead th{
	cursor:pointer;
}
.goto-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 35px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	z-index: 1001;
	border-radius: 48px;
	font-size: 20px;
	opacity: 0.8;
	color: #fff;
	background: #428bca;
}
.color-bar-1{
	height:5px;
	background:#083a6f;
	width:100%;
}
.color-bar-2{
	height:3px;
	background:#3a7cd8;
	width:100%;
}
.homePage{
	background: #f9f9f9 url(../images/page-bg-1.jpg);
}
/* .page-header {
	margin: auto;
	padding:1%;
	background: -webkit-linear-gradient(top, #87CEFA, #325da7);
	box-shadow:5px 5px 50px black;
	//background-color:grey;
	border-bottom:none;
	z-index:40;
} */
.pageheader h2{
	text-align: left;
	//color: black;
	color:#3a7cd8;
	font-family: Georgia;
	font-style: italic;
	text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
	display: inline-block;
	font-size: 34px;
	margin-top: 20px;
	margin-bottom:30px;
	margin-left: 10px;
	margin-right: 0;
}

.nav-pills{
	margin-top:20px;
}
.nav-pills a{
	//color:black;
	color:#3a7cd8;
	font-family: Georgia;
	font-size:16px;
}
.navbar-default{
	margin: auto;
	background: -webkit-linear-gradient(top, #87CEFA, #325da7);
}
.navbar-default .navbar-text{
	color: black;
}
.navbar {
	border: none; 
	border-radius: 0;
}
.bookRoomDiv{
	//background-color:snow;
	min-height:450px;
	margin-bottom:20px;
	border:2px solid #083a6f;
	border-radius:10px;
	box-shadow:2px 2px 10px black;
}
.roomBut{
	background-color:snow;
	background-image: url(../images/page-bg-1.jpg);
	border: none;
	margin:1px;
}
.roomBut:hover{
	//border:1px solid #083a6f;
	//border-radius:3px;
	background-color:white;
	background-image:none;
}
.arrow{
	padding-left:7px;
	padding-top:3px;
}
.arrow2{
	padding-left:15px;
	padding-top:3px;
}

.tab1,.tab2,.tab3,.tab4{
	margin-top: 50px;
}
.availableDiv{
	border: 2px solid currentcolor;
	border-radius: 10px;
	box-shadow: 2px 2px 2px darkblue;
	min-height: 160px;
	padding-right: 0;
}

/*parallax styles*/

section.module h3 {
  //margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  color:black;
}
section.module p {
  //margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  color:black;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../images/room2.jpg");
}
section.module.parallax-2 {
  background-image: url("../images/room3.jpg");
}
section.module.parallax-3 {
  background-image: url("../images/room4.jpg");
}

/*end of parallax styles*/

@media (min-width: 1200px)
{
	.container {
		width: 100%;
	}
} 